<app-header title="Log-In">
</app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <ion-card color="light">
      <ion-card-header class="logo-container">
        
        <ion-text color="primary" style="text-align: center;">
          <h1><strong>Asis-Now</strong></h1>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <!-- Mensaje de error -->
        <ion-text *ngIf="errorMessage" color="danger">
          <p>{{ errorMessage }}</p>
        </ion-text>

        <ion-list>
          <ion-item color="light">
            <ion-input labelPlacement="floating" [(ngModel)]="user" placeholder="Ingrese su nombre de usuario">
              <div slot="label">Usuario <ion-text color="danger">(Requerido)</ion-text></div>
            </ion-input>
          </ion-item>

          <ion-item color="light">
            <ion-input labelPlacement="floating" [type]="passwordType" [(ngModel)]="password" placeholder="Ingrese su contraseña">
              <div slot="label">Contraseña <ion-text color="danger">(Requerido)</ion-text></div>
            </ion-input>
            <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item>
        </ion-list>

        <div class="button-container" style="margin-top: 20px;">
          <ion-button (click)="login(user, password)" expand="block" mode="ios" class="submit">
            Ingresar
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="goToSignUp()" expand="block" mode="ios" fill="outline" color="primary" class="signup">
            Registrarme
            <ion-icon slot="end" name="document-text-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>