<app-header title="Cambiar Contraseña">
</app-header>

<ion-content>
  <form (ngSubmit)="changePassword()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="user" name="user" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>
    <ion-button expand="block" type="submit" style="margin-top: 16px;">Actualizar contraseña</ion-button>
    <ion-button expand="block" fill="outline" color="medium" (click)="goToLogin()">Volver</ion-button>
  </form>
</ion-content>
