<app-header title="Home"></app-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; padding-bottom: 24px;">
    <!-- Mapa con tamaño fijo -->
    <div 
      id="mini-map" 
      style="height: 300px; width: 300px; margin-bottom: 24px; margin-top: 20px; display: flex; align-items: center; justify-content: center;">
    </div>
    <ion-item style="width: 300px; margin-bottom: 20px;">
      <ion-label>Estación</ion-label>
      <ion-select [(ngModel)]="estacion" interface="popover" placeholder="Selecciona una estación">
        <ion-select-option *ngFor="let est of estacionesInfo" [value]="est.nombre">
          {{ est.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button 
      color="primary" 
      shape="round" 
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.5rem; margin-bottom: 10px;"
      (click)="registrarEntrada()">
      Entrada
    </ion-button>
    <ion-button 
      color="danger" 
      shape="round" 
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.5rem; margin-bottom: 10px;"
      (click)="registrarSalida(); onSalidaClick()">
      Salida
    </ion-button>
    <ion-button 
      *ngIf="rolCargado && userRol == 3"
      color="secondary"
      shape="round"
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px;"
      (click)="irACambiarRol()">
      Cambiar Rol
    </ion-button>
    <ion-button 
      *ngIf="rolCargado && (userRol == 2 || userRol == 3)"
      color="tertiary"
      shape="round"
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px;"
      (click)="irAReportes()">
      Reporte de Entradas
    </ion-button>
    <ion-button 
      *ngIf="rolCargado && (userRol == 2 || userRol == 3)"
      color="warning"
      shape="round"
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px;"
      (click)="irARegistroManual()">
      Registro Manual
    </ion-button>
    <ion-button 
      *ngIf="rolCargado && (userRol == 2 || userRol == 3)"
      color="danger"
      shape="round"
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px;"
      (click)="irAReporteSupervisor()">
      SOS
    </ion-button>
    <ion-button 
      *ngIf="rolCargado && userRol == 3"
      color="medium"
      shape="round"
      style="width: 200px; height: 30px; font-weight: bold; font-size: 1.2rem; margin-bottom: 10px;"
      (click)="irAReporteIncidentes()">
      Reporte de Incidentes
    </ion-button>
  </div>
</ion-content>
